# Подготовка выгрузки для создания дашборда

In [1]:
# Импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine

db_config = {'user': 'praktikum_student', # имя пользователя
            'pwd': 'Sdf4$2;d-d30pp', # пароль
            'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

engine = create_engine(connection_string)

In [5]:
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:,.2f}'.format)
pd.set_option('display.max_colwidth', 500)
pd.options.mode.chained_assignment = None

In [9]:
# Открываем таблицу
query='select * from dash_visits' 
dash_visits= pd.io.sql.read_sql(query, con = engine)

display(dash_visits)
display(dash_visits.info())
display(dash_visits.describe().T)

,record_id,item_topic,source_topic,age_segment,dt,visits
0,1040597,Деньги,Авто,18-25,2019-09-24 18:32:00,3
1,1040598,Деньги,Авто,18-25,2019-09-24 18:35:00,1
2,1040599,Деньги,Авто,18-25,2019-09-24 18:54:00,4
3,1040600,Деньги,Авто,18-25,2019-09-24 18:55:00,17
4,1040601,Деньги,Авто,18-25,2019-09-24 18:56:00,27
...,...,...,...,...,...,...
30740,1071337,Юмор,Финансы,36-40,2019-09-24 18:57:00,2
30741,1071338,Юмор,Финансы,36-40,2019-09-24 19:00:00,1
30742,1071339,Юмор,Финансы,41-45,2019-09-24 18:54:00,1
30743,1071340,Юмор,Финансы,41-45,2019-09-24 18:56:00,1
30744,1071341,Юмор,Финансы,41-45,2019-09-24 19:00:00,1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30745 entries, 0 to 30744
Data columns (total 6 columns):
record_id       30745 non-null int64
item_topic      30745 non-null object
source_topic    30745 non-null object
age_segment     30745 non-null object
dt              30745 non-null datetime64[ns]
visits          30745 non-null int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 1.4+ MB

None

,count,mean,std,min,25%,50%,75%,max
record_id,"30,745.00","1,055,969.00","8,875.46","1,040,597.00","1,048,283.00","1,055,969.00","1,063,655.00","1,071,341.00"
visits,"30,745.00",10.09,19.73,1.00,1.00,3.00,10.00,371.00

In [17]:
# Изучим некоторые колонки подробнее
print(dash_visits['item_topic'].value_counts())
print()
print(dash_visits['source_topic'].value_counts())
print()
print(dash_visits['age_segment'].value_counts())
print()
print(dash_visits['dt'].sort_values().unique())
print()
print(len(dash_visits['dt'].sort_values().unique()))

Отношения             1536
Интересные факты      1535
Наука                 1505
Подборки              1456
Полезные советы       1424
Общество              1422
Россия                1385
История               1363
Семья                 1287
Путешествия           1247
Деньги                1234
Женщины               1230
Дети                  1229
Туризм                1206
Здоровье              1203
Красота               1193
Культура              1160
Юмор                  1129
Искусство             1119
Рассказы              1109
Психология            1056
Скандалы              1023
Знаменитости           976
Женская психология     914
Шоу                    804
Name: item_topic, dtype: int64

Семейные отношения    1822
Россия                1687
Знаменитости          1650
Полезные советы       1578
Путешествия           1563
Кино                  1505
Дети                  1459
История               1437
Семья                 1405
Одежда                1379
Здоровье              1243
Искусство             1228
Авто                  1077
Психология            1055
Сад и дача            1036
Политика              1024
Спорт                 1007
Сделай сам             995
Ремонт                 985
Деньги                 973
Еда                    912
Интерьеры              809
Строительство          758
Музыка                 750
Технологии             741
Финансы                667
Name: source_topic, dtype: int64

18-25    7056
26-30    5875
31-35    5552
36-40    5105
41-45    3903
45+      3254
Name: age_segment, dtype: int64

['2019-09-24T18:28:00.000000000' '2019-09-24T18:29:00.000000000'
 '2019-09-24T18:30:00.000000000' '2019-09-24T18:31:00.000000000'
 '2019-09-24T18:32:00.000000000' '2019-09-24T18:33:00.000000000'
 '2019-09-24T18:34:00.000000000' '2019-09-24T18:35:00.000000000'
 '2019-09-24T18:52:00.000000000' '2019-09-24T18:53:00.000000000'
 '2019-09-24T18:54:00.000000000' '2019-09-24T18:55:00.000000000'
 '2019-09-24T18:56:00.000000000' '2019-09-24T18:57:00.000000000'
 '2019-09-24T18:58:00.000000000' '2019-09-24T18:59:00.000000000'
 '2019-09-24T19:00:00.000000000']

17

Вывод: данные открыты и изучены, типы данных в порядке, дубликатов нет. Данные лога охватывают 9 сентября 2019 года с 18:28 до 19:00. Можно производить выгрузку для построения дашборда.

In [ ]:
# Выгружаем данные в файл

path = 'C:/Users/user/dash_visits.csv'
dash_visits.to_csv(path, index=False, sep=";")